<?xml version='1.0' encoding='UTF-8'?>

<!-- Default general settings file. Modify it for the purpose of your application -->

<settings>
  <!-- URL of the structWSF search endpoint to query -->
  <searchEndpointUrl>http://vanilla.openstructs.org/ws/search/</searchEndpointUrl>
  
  <!-- ID of the dataset to search into  -->
  <dataset>http://vanilla.openstructs.org/wsf/datasets/12/</dataset>
  
  <browseEndpointUrl>http://vanilla.openstructs.org/ws/browse/</browseEndpointUrl>
  
  <!-- Width of the window in pixel  -->
  <windowWidth>420</windowWidth>
</settings>