
/* Check at the bottom of this CSS file for extensions to the base theme */

/* Brownie Theme CSS */
Application
{
  backgroundColor: #FBF6E1;
  /*  borderSkin: ClassReference("themes.Brownie.skins.ApplicationSkin");
  background-repeat:repeat-x;
  background-image: Embed(source='themes/Brownie/images/application_bg.png');*/
  /* fontFamily: "Lucida Grande"; */
  color: #ffffff;
  fontSize: 12;
  themeColor:#2e2821;
  disabled-color: #656361;
  font-sharpness: 100;
  font-thickness: -100;
}
MenuBar
{
  background-skin: Embed(source='themes/Brownie/images/menuBar_bg.png',scaleGridLeft=7, scaleGridRight=8, scaleGridTop=11,scaleGridBottom=12); 
  background-size: "100%";
  menuStyleName: menuStyleName;
  selectionColor:#2e2821;
  rollOverColor:#2e2821;
  textRollOverColor:#ffffff;
  textSelectedColor:#ffffff; 
  color: #ffffff;
  itemOverSkin: Embed(source='themes/Brownie/images/menuBar_itemOver.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=11,scaleGridBottom=12);
  itemDownSkin: Embed(source='themes/Brownie/images/menuBar_itemOver.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=11,scaleGridBottom=12);
}
.menuStyleName
{
  background-color: #413b37;
  border-color: #2e2821;
}



Alert, TitleWindow
{
  background-color: #3e3e3e;
  border-color: #22201e;
  header-height:60;
  border-alpha: 1;
  corner-radius: 10;
  dropShadowStyleName: panelDropShadow;
  border-skin: ClassReference("themes.Brownie.skins.SmartPanelSkin");
  dropShadowEnabled: false;
  title-style-name: headerStyle;
  headerSkin: ClassReference("themes.Brownie.skins.HeaderSkin");
}

.panelDropShadow
{
  distance:5;
  size:28;
  alpha:0.7;
}
.headerStyle
{
  text-align:center;
  font-size: 15;
  fontFamily:"Century Gothic";
  border-skin: Embed(source='themes/Brownie/images/header_bg.png', scaleGridLeft=20, scaleGridRight=200, scaleGridTop=40,scaleGridBottom=42);
}

Alert
{
  background-alpha: 1.0;
  padding-bottom: 10;
}

ViewStack
{
  border-skin: Embed(source='themes/Brownie/images/content_bg.png', scaleGridLeft=10, scaleGridRight=40, scaleGridTop=10,scaleGridBottom=30);
  padding-top: 1;
  padding-right: 1;
  padding-bottom:1;
}

HRule, VRule
{
  strokeColor: #65605d;
  shadowColor: #222222;
}
ScrollBar{
  trackSkin: Embed(source='themes/Brownie/images/track.png', scaleGridLeft=6, scaleGridRight=7, scaleGridTop=26,scaleGridBottom=330);
  thumbUpSkin:Embed(source='themes/Brownie/images/thumb_up.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120);
  thumbOverSkin:Embed(source='themes/Brownie/images/thumb_over.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120);
  thumbDownSkin:Embed(source='themes/Brownie/images/thumb_over.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120); 
  upArrowUpSkin:Embed(source='themes/Brownie/images/top_arrow_up.png');
  upArrowDownSkin:Embed(source='themes/Brownie/images/top_arrow_over.png');
  upArrowOverSkin:Embed(source='themes/Brownie/images/top_arrow_over.png');
  downArrowUpSkin:Embed(source='themes/Brownie/images/bottom_arrow_up.png');
  downArrowDownSkin:Embed(source='themes/Brownie/images/bottom_arrow_over.png');
  downArrowOverSkin:Embed(source='themes/Brownie/images/bottom_arrow_over.png'); 
}
ToggleButtonBar, ButtonBar
{
  buttonStyleName: buttonStyleName;
  firstButtonStyleName: firstButtonStyleName;
  lastButtonStyleName: lastButtonStyleName;
  verticalGap: 0;
  horizontalGap: 0;
  buttonHeight: 27;
}
.buttonStyleName
{
  upSkin:Embed(source='themes/Brownie/images/button_bar2_up.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  downSkin:Embed(source='themes/Brownie/images/button_bar2_up.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  overSkin:Embed(source='themes/Brownie/images/button_bar2_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedUpSkin:Embed(source='themes/Brownie/images/button_bar2_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedOverSkin:Embed(source='themes/Brownie/images/button_bar2_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedDownSkin:Embed(source='themes/Brownie/images/button_bar2_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  font-weight: normal;
  textRollOverColor:#111111;
  color: #ffffff;
  font-size:12;
}
.firstButtonStyleName
{
  upSkin:Embed(source='themes/Brownie/images/firstButton2_up.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  downSkin:Embed(source='themes/Brownie/images/firstButton2_up.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  overSkin:Embed(source='themes/Brownie/images/firstButton2_selected.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  selectedUpSkin:Embed(source='themes/Brownie/images/firstButton2_selected.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  selectedOverSkin:Embed(source='themes/Brownie/images/firstButton2_selected.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  selectedDownSkin:Embed(source='themes/Brownie/images/firstButton2_selected.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  font-weight: normal;
  textRollOverColor:#111111;
  color: #ffffff;
  font-size:12;
}
.lastButtonStyleName
{
  upSkin:Embed(source='themes/Brownie/images/lastButton2_up.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  downSkin:Embed(source='themes/Brownie/images/lastButton2_up.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  overSkin:Embed(source='themes/Brownie/images/lastButton2_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedUpSkin:Embed(source='themes/Brownie/images/lastButton2_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedOverSkin:Embed(source='themes/Brownie/images/lastButton2_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedDownSkin:Embed(source='themes/Brownie/images/lastButton2_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  font-weight: normal;
  textRollOverColor:#111111;
  color: #ffffff;
  font-size:12;
}
.controlBarToogleBar
{
  buttonStyleName: controlBarButtonStyleName;
  firstButtonStyleName: controlBarfirstButtonStyleName;
  lastButtonStyleName: controlBarlastButtonStyleName;
  verticalGap: 0;
  horizontalGap: 0;
  buttonHeight: 27;
  
}
.controlBarButtonStyleName
{
  upSkin:Embed(source='themes/Brownie/images/button_bar_up.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  downSkin:Embed(source='themes/Brownie/images/button_bar_up.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  overSkin:Embed(source='themes/Brownie/images/button_bar_over.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedUpSkin:Embed(source='themes/Brownie/images/button_bar_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedOverSkin:Embed(source='themes/Brownie/images/button_bar_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedDownSkin:Embed(source='themes/Brownie/images/button_bar_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  font-weight: normal;
  textRollOverColor:#111111;
  color: #ffffff;
  font-size:12;
}
.controlBarfirstButtonStyleName
{
  upSkin:Embed(source='themes/Brownie/images/firstButton_up.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  downSkin:Embed(source='themes/Brownie/images/firstButton_up.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  overSkin:Embed(source='themes/Brownie/images/firstButton_over.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  selectedUpSkin:Embed(source='themes/Brownie/images/firstButton_selected.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  selectedOverSkin:Embed(source='themes/Brownie/images/firstButton_selected.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  selectedDownSkin:Embed(source='themes/Brownie/images/firstButton_selected.png', scaleGridLeft=10, scaleGridRight=11, scaleGridTop=11,scaleGridBottom=12);
  font-weight: normal;
  textRollOverColor:#111111;
  color: #ffffff;
  font-size:12;
}
.controlBarlastButtonStyleName
{
  upSkin:Embed(source='themes/Brownie/images/lastButton_up.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  downSkin:Embed(source='themes/Brownie/images/lastButton_up.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  overSkin:Embed(source='themes/Brownie/images/lastButton_over.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedUpSkin:Embed(source='themes/Brownie/images/lastButton_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedOverSkin:Embed(source='themes/Brownie/images/lastButton_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  selectedDownSkin:Embed(source='themes/Brownie/images/lastButton_selected.png', scaleGridLeft=5, scaleGridRight=6, scaleGridTop=11,scaleGridBottom=12);
  font-weight: normal;
  textRollOverColor:#111111;
  color: #ffffff;
  font-size:12;
}

TabBar
{
  tabStyleName: tabStyle;
  background-color: #3e3e3e;
}

.tabStyle {
  upSkin:Embed(source='themes/Brownie/images/tab.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15, scaleGridBottom=16);
  downSkin:Embed(source='themes/Brownie/images/tab_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  overSkin:Embed(source='themes/Brownie/images/tab_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  disabledSkin: Embed(source='themes/Brownie/images/tab_disabled.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  selectedUpSkin: Embed(source='themes/Brownie/images/tab_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  selectedOverSkin:Embed(source='themes/Brownie/images/tab_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  color:#444444;
  font-size: 11;
}

Button
{
  upSkin:Embed(source='themes/Brownie/images/button_up.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15, scaleGridBottom=16);
  downSkin:Embed(source='themes/Brownie/images/button_up.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  overSkin:Embed(source='themes/Brownie/images/button_over.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  disabledSkin: Embed(source='themes/Brownie/images/button_disabled.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  color:#444444;
  font-size: 11;
}
LinkButton
{
  color: #ffffff;
  roll-over-color: #555555;
  textRollOverColor:#eeeeee;
}
CheckBox
{
  upIcon: Embed(source='themes/Brownie/images/CheckBox_upIcon.png');
  downIcon:Embed(source='themes/Brownie/images/CheckBox_downIcon.png');
  overIcon:Embed(source='themes/Brownie/images/CheckBox_overIcon.png');
  selectedUpIcon:Embed(source='themes/Brownie/images/CheckBox_selectedUpIcon.png');
  selectedOverIcon:Embed(source='themes/Brownie/images/CheckBox_selectedDownIcon.png');
  selectedDownIcon:Embed(source='themes/Brownie/images/CheckBox_selectedOverIcon.png');
  disabledIcon:Embed(source='themes/Brownie/images/CheckBox_selectedDisabledIcon.png');
  selectedDisabledIcon:Embed(source='themes/Brownie/images/CheckBox_disabledIcon.png');
  textRollOverColor:#dddddd;
  textSelectedColor:#aaaaaa;
  color: #ffffff;
}

RadioButton
{
  upIcon: Embed(source='themes/Brownie/images/RadioButton_upIcon.png');
  downIcon:Embed(source='themes/Brownie/images/RadioButton_downIcon.png');
  overIcon:Embed(source='themes/Brownie/images/RadioButton_overIcon.png');
  selectedUpIcon:Embed(source='themes/Brownie/images/RadioButton_selectedUpIcon.png');
  selectedOverIcon:Embed(source='themes/Brownie/images/RadioButton_selectedDownIcon.png');
  selectedDownIcon:Embed(source='themes/Brownie/images/RadioButton_selectedOverIcon.png');
  disabledIcon:Embed(source='themes/Brownie/images/RadioButton_selectedDisabledIcon.png');
  selectedDisabledIcon:Embed(source='themes/Brownie/images/RadioButton_disabledIcon.png');
  textRollOverColor:#dddddd;
  textSelectedColor:#aaaaaa; 
  color: #ffffff;
}

ComboBox, PopUpButton
{
  upSkin:Embed(source='themes/Brownie/images/comboBox_up.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19, scaleGridBottom=20);
  downSkin:Embed(source='themes/Brownie/images/comboBox_up.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19,scaleGridBottom=20);
  overSkin:Embed(source='themes/Brownie/images/comboBox_over.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19,scaleGridBottom=20);
  disabledSkin: Embed(source='themes/Brownie/images/comboBox_disabled.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19,scaleGridBottom=20);
  padding-left: 10;
  color:#444444;
  dropdownStyleName: dropdownStyleName;
}
PopUpButton{
  padding-right: 10;
  popUpDownSkin: Embed(source='themes/Brownie/images/comboBox_up.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19,scaleGridBottom=20);
  popUpOverSkin: Embed(source='themes/Brownie/images/comboBox_over.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19,scaleGridBottom=20);
}
.dropdownStyleName
{
  background-color: #2b2a2a;
  border-color: #2e2821;
  selectionColor:#3e3d3d;
  rollOverColor:#3e3d3d;
  textRollOverColor:#ffffff;
  textSelectedColor:#ffffff; 
  color: #ffffff;
  font-weight:normal;
  dropShadowEnabled: true;
}
TextInput
{
  border-skin: Embed(source='themes/Brownie/images/input_bg.png', scaleGridLeft=8, scaleGridRight=20, scaleGridTop=8,scaleGridBottom=9);
  padding-top:2;
  padding-left:2;
  font-size:11;
}

/*
TextArea
{
border-skin: Embed(source='themes/Brownie/images/input_bg.png', scaleGridLeft=8, scaleGridRight=20, scaleGridTop=8,scaleGridBottom=9);
padding-top:2;
padding-left:2;
font-size:11;
}
*/

.editable
{
  font-weight:normal;
  color: #eeeeee;
  fillColors: #e5b421, #e5b421;
  fillAlphas: 1,1;
  border-color: #e5b421;
}
ColorPicker
{
  upSkin: Embed(source='themes/Brownie/images/ColorPicker_upSkin.png');
  downSkin: Embed(source='themes/Brownie/images/ColorPicker_downSkin.png');
  overSkin: Embed(source='themes/Brownie/images/ColorPicker_overSkin.png');
  disabledSkin: Embed(source='themes/Brownie/images/ColorPicker_disabledSkin.png');
}
ProgressBar
{
  track-skin: Embed(source='themes/Brownie/images/progressbar_bg.png', scaleGridLeft=8, scaleGridRight=30, scaleGridTop=5,scaleGridBottom=6);
  bar-skin: Embed(source='themes/Brownie/images/progressbar_bar.png', scaleGridLeft=6, scaleGridRight=30, scaleGridTop=4,scaleGridBottom=5);
  indeterminate-skin: ClassReference("themes.Brownie.skins.ProgressIndeterminateSkin");
  barColor: #22201e;
  font-size: 10;
  font-thickness: -200;
}
HSlider, VSlider
{
  thumbUpSkin: Embed(source='themes/Brownie/images/slider_thumbUp.png');
  thumbOverSkin: Embed(source='themes/Brownie/images/slider_thumbOver.png');
  thumbDownSkin: Embed(source='themes/Brownie/images/slider_thumbDown.png');
  trackSkin: 	Embed(source='themes/Brownie/images/slider_track.png', scaleGridLeft=5, scaleGridRight=20, scaleGridTop=2,scaleGridBottom=3);
}
NumericStepper
{
  upArrowUpSkin: Embed(source='themes/Brownie/images/NS_upArrowUpSkin.png');
  upArrowOverSkin: Embed(source='themes/Brownie/images/NS_upArrowOverSkin.png');
  upArrowDownSkin: Embed(source='themes/Brownie/images/NS_upArrowDownSkin.png');
  downArrowUpSkin: Embed(source='themes/Brownie/images/NS_downArrowUpSkin.png');
  downArrowOverSkin: Embed(source='themes/Brownie/images/NS_downArrowOverSkin.png');
  downArrowDownSkin: Embed(source='themes/Brownie/images/NS_downArrowDownSkin.png');
}
DateField
{
  dateChooserStyleName: dateChooserStyleName;
}
DateChooser, .dateChooserStyleName
{
  background-color: #2b2a2a;
  dropShadowEnabled: true;
  border-color: #787370;
  color: #ffffff;
  header-colors: #44413d, #2d2b28;
  prevMonthUpSkin: Embed(source='themes/Brownie/images/prevMonthUpSkin.png');
  nextMonthUpSkin: Embed(source='themes/Brownie/images/nextMonthUpSkin.png');
  prevMonthDownSkin: Embed(source='themes/Brownie/images/prevMonthUpSkin.png');
  nextMonthDownSkin: Embed(source='themes/Brownie/images/nextMonthUpSkin.png');
  prevMonthOverSkin: Embed(source='themes/Brownie/images/prevMonthOverSkin.png');
  nextMonthOverSkin: Embed(source='themes/Brownie/images/nextMonthOverSkin.png');
  headerStyleName: dateChooserHeader;
  corner-radius:8;
  roll-over-color: #e5b421;
  selectionColor: #ff9c00;
}
.dateChooserHeader
{
  font-weight:normal;
}
HorizontalList, TileList
{
  border-skin: Embed(source='themes/Brownie/images/content_bg.png', scaleGridLeft=10, scaleGridRight=40, scaleGridTop=10,scaleGridBottom=30);
}
Tree, List
{
  background-color: #2b2a2a;
  border-color: #555555;
  rollOverColor:#444444;
  selectionColor: #e5b421;
  textRollOverColor:#ffffff;
}
DataGrid
{
  headerColors: #44413d, #2d2b28;
  alternatingItemColors: #2b2a2a, #2b2a2a;
  border-color: #555555;
  verticalGridLineColor: #555555;
  color: #dddddd;
  headerStyleName: dataGridHeader;
  rollOverColor:#444444;
  textRollOverColor:#ffffff;
  selectionColor: #212121;
  textSelectedColor:#ffffff;
}
Tree {
  folderClosedIcon: Embed(source='themes/Brownie/images/folder.png');
  folderOpenIcon: Embed(source='themes/Brownie/images/folder_open.png');
  defaultLeafIcon: Embed(source='themes/Brownie/images/new_page.png');
  selectionColor: #212121;
  textSelectedColor:#ffffff;
}

Accordion {
  backgroundColor: #3e3e3e;
  headerStyleName: accordionHeader;
  borderColor: #22201E;
  fontSize: 10;
}

.accordionHeader {
  fillColors: #D19A48, #D17C01;    
  upSkin:Embed(source='themes/Brownie/images/acc.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15, scaleGridBottom=16);
  downSkin:Embed(source='themes/Brownie/images/acc_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  overSkin:Embed(source='themes/Brownie/images/acc_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  selectedUpSkin: Embed(source='themes/Brownie/images/acc_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  selectedOverSkin:Embed(source='themes/Brownie/images/acc_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  fontSize: 10;
  paddingTop: 3;
  paddingLeft: 10;
  paddingBottom: 1;
  paddingRight: 10;
}


@font-face {
  fontFamily:"Verdana";
  src: url("themes/Brownie/fonts/verdana.TTF"); /* Embed from file */
}

@font-face {
  fontFamily:"Verdana";
  fontWeight: bold;
  src: url("themes/Brownie/fonts/Verdana_Bold.TTF");
  advancedAntiAliasing: true;
}

@font-face {
  fontFamily:"Century Gothic";
  src: url("themes/Brownie/fonts/GOTHIC.TTF"); /* Embed from file */
}

/*
*    EXTENSIONS TO THE BASE THEME
*/


/* Extension for the Workbench module */

Panel.sRelationBrowserrelatedStoriesPanel
Panel.sRelationBrowserInfoboxPanel
Panel.sStoryNamedEntitiesPanel
Panel.sStoryRelatedStoriesPanel
Panel.sStoryConceptsPanel
SuperPanelPlus
{
  border-color: #22201e;
  header-height:30;
  border-alpha: 1;
  corner-radius: 10;
  dropShadowStyleName: panelDropShadow;
  border-skin: ClassReference("themes.Brownie.skins.SmartPanelSkin");
  dropShadowEnabled: false;
  title-style-name: headerStyle;
  headerSkin: ClassReference("themes.Brownie.skins.HeaderSkin"); 
}

Panel.filteringPanelStyle
{
  background-color: #3e3e3e;
}

VBox.sGenericBox
VBox.sStoryToolsVBox
VBox.sRelationBrowserDescriptionVBox
VBox.sRelationBrowserToolsBoxVBox
VBox.sRelationBrowserInfoxBoxVBox
{
  background-color: #2b2a2a;
}

HBox.sGenericBoxAttributeValueHBox
HBox.sRelationBrowserPrefLabelHBox
HBox.sRelationBrowserNameHBox
{
  background-color: #2b2a2a;
}  

/*
*		sRelationBrowser related styles
*/

/* TextArea where the description of a concept is displayed */
.infoboxDescription
{ 
  textAlign: "left";
  borderStyle: "none";
  fontWeight: "bold";
  background-color: #2b2a2a;
}


/*
*		sBarChart related styles
*/

.sBarChart
{
  background-color: #FBF6E1;
}

/*
*		sLinearChart related styles
*/

.sLinearChart
{
  background-color: #FBF6E1;
}

/*
*		sMap related styles
*/

.sMap
{
  background-color: #FBF6E1;
}

.zoomInControl
{
}

.zoomOutControl
{
}

.zoomText
{
  color: #040404;
}

/*
*		sStory related styles
*/

.sStory
{
  background-color: #2B2A2A;
}

.panelConcepts
{
}

.panelRelatedStories
{
}

.storyTextAreaStyle
{
  backgroundColor: #FBF6E1;
  backgroundDisabledColor: #FBF6E1;
  color: #000000;
}

.isAboutCheckboxesListControl
{
  color: #040404;
}

.neCheckboxesListControl
{
  color: #040404;
}

.relatedStoriesList
{
  color: #FFFFFF;
}

.mapsCheckboxesListControl
{
  color: #000000;
}


/*
*		sRelationBrowser related styles
*/

.sRelationBrowser
{
  background-color: #FBF6E1;
}

/* Extension for the SuperPanelPlus module */

.closeButton {
  upSkin:        Embed('/themes/Brownie/images/closeButton.png');
  overSkin:      Embed('/themes/Brownie/images/closeButton.png');
  downSkin:      Embed('/themes/Brownie/images/closeButton.png');
  disabledSkin:  Embed('/themes/Brownie/images/closeButton.png');
}
.increaseButton {
  upSkin:        Embed('/themes/Brownie/images/increaseButton.png');
  overSkin:      Embed('/themes/Brownie/images/increaseButton.png');
  downSkin:      Embed('/themes/Brownie/images/increaseButton.png');
  disabledSkin:  Embed('/themes/Brownie/images/increaseButton.png');
}
.decreaseButton {
  upSkin:        Embed('/themes/Brownie/images/decreaseButton.png');
  overSkin:      Embed('/themes/Brownie/images/decreaseButton.png');
  downSkin:      Embed('/themes/Brownie/images/decreaseButton.png');
  disabledSkin:  Embed('/themes/Brownie/images/decreaseButton.png');
}

.resizeHandler {
  upSkin:        Embed('/themes/Brownie/images/resizeHandler.png');
  overSkin:      Embed('/themes/Brownie/images/resizeHandler.png');
  downSkin:      Embed('/themes/Brownie/images/resizeHandler.png');
  disabledSkin:  Embed('/themes/Brownie/images/resizeHandler.png');
}

/*
*   sDashboard
*/

.sDashboard
{
  background-color: #3e3e3e;
}

.maximizeRestoreButton
{
  up-skin:        	Embed("/assets/imgs/dashboard/maximize_up.png");
  over-skin:      	Embed("/assets/imgs/dashboard/maximize_over.png");
  down-skin:      	Embed("/assets/imgs/dashboard/maximize_up.png");
  selected-up-skin:   Embed("/assets/imgs/dashboard/restore_up.png");
  selected-over-skin: Embed("/assets/imgs/dashboard/restore_over.png");
  selected-down-skin: Embed("/assets/imgs/dashboard/restore_up.png");
}

.minimizeButton
{
  up-skin:        Embed("/assets/imgs/dashboard/minimize_up.png");
  over-skin:      Embed("/assets/imgs/dashboard/minimize_over.png");
  down-skin:      Embed("/assets/imgs/dashboard/minimize_up.png");
}


.sDashboardTabBar
{
  selected-tab-text-style-name: tabBarButtonSelected;
  tab-style-name: tabBarButton;
  backgroundColor: #3e3e3e;
}

.tabBarButton
{
  upSkin:Embed(source='themes/Brownie/images/tab.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15, scaleGridBottom=16);
  downSkin:Embed(source='themes/Brownie/images/tab_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  overSkin:Embed(source='themes/Brownie/images/tab_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  disabledSkin: Embed(source='themes/Brownie/images/tab_disabled.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  selectedUpSkin: Embed(source='themes/Brownie/images/tab_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  selectedOverSkin:Embed(source='themes/Brownie/images/tab_selected.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
  color:#444444;
  font-size: 11;  
  padding: 0px;   
  margin: 0px; 
  top: -10px;
  
  /*up-skin:        		Embed("/assets/imgs/dashboard/tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
  over-skin:        		Embed("/assets/imgs/dashboard/tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
  down-skin:        		Embed("/assets/imgs/dashboard/tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
  selected-up-skin:		Embed("/assets/imgs/dashboard/tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
  selected-over-skin:		Embed("/assets/imgs/dashboard/tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
  selected-down-skin:		Embed("/assets/imgs/dashboard/tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
  color: 					#333333; 
  text-roll-over-color:	#858585;
  font-size:				12px;
  font-family:			arial;
  text-align:				left;
  padding-left:			10px;
  padding-right:			20px;
  padding-top:			-4px; 
  background-color: #3e3e3e;*/
}

.tabBarButtonSelected
{
  text-roll-over-color:	#003399;
  color:					#003399;
}



.sDashboardViewStack
{
  padding: 0px;
  margin: 0px;
}

Pod
{
  /*
  padding-top: 31px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  */

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;  
  
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;  
  
  rounded-bottom-corners: false;
  border-thickness: 1px;
  border-style: solid;
  border-color: #999999;
  header-colors: #cccccc, #999999;
  highlight-alphas: .9, 0;
  background-color: #3e3e3e;
  corner-radius: 6px;
  header-height: 22px;
  shadow-direction: right;
  drop-shadow-color: #999999;
  
  horizontalGap: 0;
}

.sDashboardPod
{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px; 
}

.podTitle
{
  font-size: 11px;
  font-family: arial;
  font-weight: bold;
}

DragHighlight
{
  border-color: #CCCCCC;
  border-thickness: 3px;
  border-style: solid;
  background-color: #F3F3F3;
}

.leftArrowButton
{
  up-skin:		Embed("/assets/imgs/dashboard/left_arrow_up.gif");
  over-skin:		Embed("/assets/imgs/dashboard/left_arrow_over.gif");
  down-skin:		Embed("/assets/imgs/dashboard/left_arrow_up.gif");
  disabled-skin:	Embed("/assets/imgs/dashboard/left_arrow_disabled.gif");
}

.rightArrowButton
{
  up-skin:		Embed("/assets/imgs/dashboard/right_arrow_up.gif");
  over-skin:		Embed("/assets/imgs/dashboard/right_arrow_over.gif");
  down-skin:		Embed("/assets/imgs/dashboard/right_arrow_up.gif");
  disabled-skin:	Embed("/assets/imgs/dashboard/right_arrow_disabled.gif");
}

/** Breadcrumb styles */

Breadcrumb
{
  borderColor: #CCCCCC;
  themeColor: #FFFFFF;
  backgroundFillColors: #FFFFFF, #FBF6E1;
  color: #000000;
}